#body {
  display: flex;
}
#contents_box {
  display: inline-block;
  width: 80%;
  height: 90%;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background: #e8ecff;
  vertical-align: top;
}

#contents_box .product_update {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 900px;
  background-color: white;
  border-radius: 10px;
}
#contents_box .contents_table {
  position: relative;
  left: 20px;
  width: 50%;
  border-spacing: 10px;
  text-align: left;
  vertical-align: middle;
}

#contents_box .product_info {
  margin-left: 20px;
}

#contents_box .product_info td {
  font-size: 20px;
  font-weight: bold;
}

#contents_box .product_name {
  width: 400px;
  height: 10px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}
#contents_box .product_category {
  width: 300px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}
#contents_box .product_price {
  height: 10px;
  width: 150px;
  font-size: 20px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
}
.product_script .script_area {
  width: 90%;
  height: 100%;
  min-height: 300px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 18px;
  vertical-align: top;
  line-height: 1.5;
  resize: none;
}

#contents_box .product_add {
  display: block;
  width: 200px;
  height: 45px;
  float: right;
  margin-right: 120px;
  border: solid;
  border-radius: 10px;
  background-color: #84c5f1;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

#contents_box .select_image {
  margin-left: 30px;
  margin-top: 20px;
}

/* Add_css----------------------------------------------------------- */

#contents_box .product_update {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 900px;
  border-radius: 10px;
  background-color: white;
}
#contents_box .contents_table {
  position: relative;
  left: 20px;
  width: 50%;
  border-spacing: 10px;
  text-align: left;
  vertical-align: middle;
}

#contents_box .product_info {
  margin-left: 20px;
}

#contents_box .product_info td {
  font-size: 20px;
  font-weight: bold;
}

#contents_box .product_name {
  width: 400px;
  height: 10px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}
#contents_box .product_category {
  width: 300px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}
#contents_box .product_price {
  height: 10px;
  width: 150px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}

#contents_box .product_count {
  height: 10px;
  width: 150px;
  border: solid;
  border-color: #84c5f1;
  border-radius: 5px;
  font-size: 20px;
}

.product_script .script_area {
  width: 90%;
  height: 100%;
  min-height: 300px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 18px;
  vertical-align: top;
  line-height: 1.5;
  resize: none;
}

#contents_box .product_add {
  display: block;
  float: right;
  width: 200px;
  height: 45px;
  margin-right: 120px;
  border-radius: 10px;
  border: solid;
  background-color: #84c5f1;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

#contents_box .select_image {
  margin-left: 30px;
  margin-top: 20px;
}

/* list_css-------------------------------------------------------------- */

#contents_box .product_update {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 900px;
  background-color: white;
  border-radius: 10px;
}
#contents_box .product_row {
  position: relative;
  width: 85%;
  margin-left: 7%;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: solid;
}

.product_list_name {
  padding-left: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 4;
}

.product_list_category {
  padding-left: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
}

.product_list_row .product_list_data {
  padding-left: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1 silver;
  font-size: 14px;
}

.product_row .product_image {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1 silver;
  text-align: center;
  vertical-align: middle;
}

.product_row .product_CD button {
  width: 130px;
  height: 30px;
  margin: 7px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}
.product_row .product_CD li {
  vertical-align: middle;
  text-align: center;
}
.product_row .product_CD {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1 silver;
}
.product_row img {
  width: 130px;
}

#contents_box .btn_add_product {
  width: 130px;
  height: 35px;
  float: right;
  margin-right: 270px;
  margin-top: 30px;
  background-color: #84c5f1;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
