html {
  /* position: relative;
  min-height: 100%;
  margin: 0; */
  overflow-x: hidden;
}

.form {
  width: 1100px;
  margin: 100px auto;
  margin-top: 10px;
}


/* 장바구니 페이지 css */

.basket_title {
  padding: 30px 0 20px;
  color: #666;
  text-align: center;
  font-size: 14px;
}

.basket_count {
  border-bottom: 3px solid rgb(190, 190, 190);
}

.basket_count p {
  font-size: 19px;
  font-weight: bold;
}

.basket_count p span {
  color: #84c5f1;
}

.basket_table {
  border-collapse: collapse;
  width: 100%;
}

.table_title {
  background-color: rgb(238, 238, 238);
}

.table_title th,
.table_content td {
  padding: 20px 15px;
  text-align: center;
}

.table_content td {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.table_content td img {
  width: 160px;
}

.table_content .table_title_td {
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 25px;
}

.table_content .table_title_td span {
  font-size: 16px;
  color: #84c5f1;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.count_button input {
  width: 32px;
  height: 32px;
  font-size: 17px;
  background-color: #84c5f1;
  border: none;
  border-radius: 4px;
  color: white;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}

.count_button span {
  padding: 0 5px;
}


/* 장바구니 상품 금액 표시 css */

.basket_pay .pay {
  padding: 10px 30px;
  margin: 0 auto;
}

.basket_pay {
  display: flex;
  font-size: 19px;
  font-weight: bold;
  padding: 25px 90px;
  text-align: center;
  background-color: #ebf7fd;
}

.basket_pay .pay_operator {
  padding-top: 22px;
}

.basket_pay .pay_sum {
  color: #84c5f1;
}


/* 버튼 css */

button {
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #cbcbcb;
  box-shadow: 3px 3px 3px #cbcbcb;
  cursor: pointer;
  margin: 10px;
}

.common_button,
.pay_button,
.shopping_button {
  padding: 12px 25px;
  font-size: 17px;
}

.common_button {
  text-align: center;
  margin-top: 40px;
}

.pay_button {
  width: 280px;
}

.pay_button:hover,
.shopping_button:hover,
.blue_button:hover,
.white_button:hover {
  border: 2px solid rgb(179, 179, 179);
}

.shopping_button {
  width: 300px;
}

.blue_button,
.pay_button {
  color: white;
  background-color: #84c5f1;
}

.shopping_button,
.white_button {
  color: #84c5f1;
  background-color: white;
}

.blue_button,
.white_button {
  width: 120px;
  padding: 10px 15px;
  margin: 5px;
}

.small_button {
  text-align: center;
  margin-top: 20px;
}


/* 빈 장바구니 페이지 */

.non_basket {
  padding-top: 50px;
}

.non_basket_title {
  border-bottom: 2px solid #e1e1e1;
}

.non_basket_logo {
  margin: 0 auto;
  text-align: center;
}

.non_basket_logo img {
  width: 260px;
}

.non_basket_content {
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: 20px;
}

.non_basket_content p:first-child {
  color: #888;
  font-size: 19px;
}


/* 비밀번호 찾기 css */

.password_form {
  min-height: 420px;
}

.password_content {
  width: 650px;
  height: 340px;
  margin: 0 auto;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 5px 5px 5px 5px #e9e9e9;
  margin-top: 60px;
}

.password_title {
  background-color: #84c5f1;
  padding: 17px;
  border-radius: 8px;
  color: white;
  padding-left: 25px;
}

.password_title span {
  font-size: 13px;
  margin-left: 10px;
}

.password_input {
  text-align: center;
  font-size: 14px;
  color: #555;
  border-bottom: 2px solid #84c5f1;
  padding: 20px;
  padding-bottom: 30px;
}

.password_input input {
  margin-left: 15px;
}

.password_input p span {
  color: #84c5f1;
}

.password_input span {
  color: #45b0f8;
  font-weight: normal;
  font-size: 12.5px;
}

.password_input input {
  width: 300px;
}


/* input type="text" */

input[type="text"] {
  padding: 9px;
  caret-color: #84c5f1;
  border-color: #84c5f1;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #84c5f1;
}


/* 주문/결제 css */

.order_content_addr {
  display: flex;
}

.order_table {
  border-collapse: collapse;
  width: 100%;
  border-top: 3px solid rgb(190, 190, 190);
}

.addr_title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

h3 {
  color: #666;
  padding-bottom: 15px;
}

.default_addr {
  padding: 0 20px;
  width: 710px;
}

.default_addr p {
  font-size: 16px;
  font-weight: bold;
}

.default_addr p span {
  color: #84c5f1;
}

.default_addr_info {
  background-color: rgb(245, 245, 245);
  padding: 15px 40px;
  border-radius: 5px;
  color: #333;
}

.default_user_info,
.order_price_info {
  width: 300px;
  padding: 35px 30px;
  background-color: #f3faff;
  border-radius: 5px;
}

.default_user_info p,
.order_price_info p {
  font-weight: bold;
  color: #555;
  padding: 0 20px;
}

.order_price_info .detail_price {
  color: #999;
}

.order_price_info {
  margin-top: 10px;
}

.order_price_info p {
  padding-top: 5px;
}

.order_price_info p span {
  margin-left: 100px;
}

.order_price_info .product_price {
  margin-left: 80px;
}

.order_price_info .price_sum {
  margin-left: 80px;
}

.order_price_info .shipping_fee {
  margin-left: 94px;
}

.price_form {
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(205, 205, 205);
}

.order_price_info .price_sum_title {
  padding-top: 12px;
}

.card_select select {
  width: 120px;
  height: 35px;
  padding: 0 10px;
  margin-top: 10px;
}

.card_number input {
  height: 20px;
  width: 300px;
}

.card_check,
.card_select,
.card_number {
  display: flex;
  padding-left: 30px;
  padding-bottom: 15px;
}

.default_addr_info .check_title {
  margin-right: 20px;
  font-size: 15px;
  color: #666;
}

.default_addr_info .card_check .card_check_1 {
  font-size: 15px;
}

.default_addr_info .card_check p span {
  color: #555;
}

.card_check_1 {
  margin-right: 15px;
}


/* 결제완료 페이지 */

.complete_message {
  text-align: center;
  margin-top: 50px;
  padding: 50px 0;
}

.complete_message .complete_text {
  font-size: 21px;
  color: #84c5f1;
  font-weight: bold;
}