@charset "utf-8";

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* input style */
input {background-image: none;}
input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
    -webkit-appearance: none;
    border-radius: 0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox
}

.ui_select2 {
    width: 100%; box-sizing: border-box;
    background: #2c2f34; color: #fff;
    display: inline-block; height: 36px;
    border: 0 none; padding: 0 10px; margin: 0;
    font-family: inherit; font-size: inherit;
    vertical-align: middle; text-align: left;
    white-space: nowrap;
    background: #2c2f34 url(../img/down.svg) no-repeat right 10px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui_input3 {
    background: #2c2f34; color: #fff; border: 0; width: 100%; height: 36px; padding: 0 10px;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    font-family: 'S-CoreDream', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

/* 링크 초기화 */
a { 
    color: #222;
    text-decoration: none
}

/* 목록 초기화 */
ol,
ul {
    list-style: none
}

/* 스타일 초기화 */
strong {
    font-weight: normal;
}
em {
    font-style: normal;
}
img {
    width: 100%;
}
fieldset {
    border: 0 none;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
/* 제목 초기화 */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* 리스트 스타일 유형 */
ul.list li,
ol.list li,
dl.list li {
    position: relative;
    padding-left: 10px;
}
ul.list li::before,
ol.list li::before,
dl.list li::before {
    content: '';
    width: 3px; height: 3px;
    background: #000;
    position: absolute;
    left: 0; top: 7px;
}